<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">shopFlow</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movements">
                <Icon class="p-3" Name="IconName.PlusCircleDotted" Size="IconSize.x4" /> Movements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dayReport">
                <Icon class="p-3" Name="IconName.GraphUpArrow" Size="IconSize.x4" /> Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenses">
                <Icon class="p-3" Name="IconName.PiggyBank" Size="IconSize.x4" /> Expenses
            </NavLink>
        </div>

    </nav>
</div>
